ul {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  position: relative;
  color: rgb(91, 8, 39);
  list-style: none;
}

.color--ocultar {
  font-weight: bold;
}

.link {
  display: none;
}

.ulhidden{
    display: none;
}

.list{
    display: block;
}
.boton {
  background-color: whitesmoke;
  color: rgb(91, 8, 39);
  font-size: 12px;
  font-weight: bold;
  font-family: fira code;
  border-color: white;
}
