ul {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  position: relative;
  color: rgb(91, 8, 39);
}

/* .elemento{
} */

/* .elemento--mostrar{
} */

.name--ocultar{
    color: rgb(71, 246, 44);
}