ul {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(91, 8, 39);
  display: inline-block;
  position: relative;
}

li:hover{
    color:burlywood;
}

li:checked ~ ul{
display: none;
}