form{
 width: 300px;
 padding: 20px;
 border-radius: 10px;
 margin: 0 auto;
 background: whitesmoke;
 box-shadow: 3px 3px 8px 5px gray;
 font-weight: bold;
}

h1{
    text-align: center;
    color: teal;
}

.addtask{
    
    text-align: center;
    padding: 10px;
}

.add{
    background-color:  teal;
    color: white;
    padding: 8px;
    border-radius: 10%;
    font-family:monospace;
    font-weight: bold;
    font-size: 15px;
}

.gradient{
    padding: 1px;
    background: linear-gradient(to right, teal, rgb(193, 193, 223));
}

#newTask{
    padding: 8px;
    border-radius: 5px;
    background-color: whitesmoke;
    border-color: rgb(232, 208, 208);
}

.tasks{
    margin-top: 5px;
    margin-left: 10px;
    align-items: center;
}


.box{
    width: 25px;
    height: 25px;
    accent-color: teal;
    background-color: whitesmoke;
    
}


.tareas{
    color: rgb(20, 98, 98);
    font-size: 20px;
    background-color: whitesmoke;
    padding-left: 10px;
}

.delete{
    background-color:  teal;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-family:monospace;
    font-weight: bold;
    font-size: 15px;
    margin-left: 75px;
    margin-top: 15px
}

.is-completed{
    text-decoration: line-through;
    color: teal;
}